<!DOCTYPE html>
<html>
  <head>
      <title><%=full_title(yield(:title))%></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/shim' %>

  </head>

  <body>
      <%= render 'layouts/header' %>
      <div class="container">
        <% flash.each do |message_type,message|%>
        <!--div class="alert alert-<%= message_type %>">
          <%= message %>
        </div-->
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= yield %>
        <%= render 'layouts/footer' %>
         <%= debug(params) if Rails.env.development? %>
      </div>
  </body>
</html>
